.newsContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsContainer .articles{
  border: 2px solid black;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.newsContainer .articles img{
width: 500px;
}